<div class="clear"></div>
<div class="section padding-top-bottom-small black-background" id="scroll-link">
	<div class="container">
		<div class="three columns">
			<div class="about-box">
				<div class="icon">&#xf451;</div>
				<h6>Creativity</h6>
				<p>Duis placerat ex gravida nibh tristique porta. Suspendisse ultricies eros blandit.</p>
			</div>
		</div>
		<div class="three columns">
			<div class="about-box">
				<div class="icon">&#xf4af;</div>
				<h6>Functionally</h6>
				<p>Duis placerat ex gravida nibh tristique porta. Suspendisse ultricies eros blandit.</p>
			</div>
		</div>
		<div class="three columns">
			<div class="about-box">
				<div class="icon">&#xf415;</div>
				<h6>Magically</h6>
				<p>Duis placerat ex gravida nibh tristique porta. Suspendisse ultricies eros blandit.</p>
			</div>
		</div>
		<div class="three columns">
			<div class="about-box">
				<div class="icon">&#xf43e;</div>
				<h6>Ambitious</h6>
				<p>Duis placerat ex gravida nibh tristique porta. Suspendisse ultricies eros blandit.</p>
			</div>
		</div>
	</div>
</div>