<div class="three columns">	
	<div class="post-sidebar">
		<input name="search" type="text"   placeholder="To search type and hit enter"/>
		{% include 'includes/_blog-popular.njk' %}
		{% include 'includes/_blog-latest-projects.njk' %}
		{% include 'includes/_tag-cloud.njk' %}
		{% include 'includes/_categories-cloud.njk' %}	
	</div>
</div>