<div class="separator-sidebar"></div>
<h6 class="chaffle" data-lang="en">Latest Projects</h6>
<div class="lat-pro">						
	<a href="#"><div class="lat-pro-img"><img  src="/images/1.jpg"  /></div></a>		
	<a href="#"><div class="lat-pro-img"><img  src="/images/1.jpg"  /></div></a>		
	<a href="#"><div class="lat-pro-img"><img  src="/images/1.jpg"  /></div></a>		
	<a href="#"><div class="lat-pro-img"><img  src="/images/1.jpg"  /></div></a>		
	<a href="#"><div class="lat-pro-img"><img  src="/images/1.jpg"  /></div></a>		
	<a href="#"><div class="lat-pro-img"><img  src="/images/1.jpg"  /></div></a>
	<a href="#"><div class="lat-pro-img"><img  src="/images/1.jpg"  /></div></a>		
	<a href="#"><div class="lat-pro-img"><img  src="/images/1.jpg"  /></div></a>		
	<a href="#"><div class="lat-pro-img"><img  src="/images/1.jpg"  /></div></a>
</div>