<div class="clear"></div>
<div class="section padding-top-bottom-small color-background">
	<div class="container">
		<div class="three columns">
			<div class="counter-wrap">
				<div class="icon-count">&#xf47b;</div>
				<div class="counter-numb"><em class="counter-facts">126</em></div>
				<p>Satisfied Clients</p>
			</div>
		</div>
		<div class="three columns">
			<div class="counter-wrap">
				<div class="icon-count">&#xf3ef;</div>
				<div class="counter-numb"><em class="counter-facts">264</em></div>
				<p>Finished Projects</p>
			</div>
		</div>
		<div class="three columns">
			<div class="counter-wrap">
				<div class="icon-count">&#xf417;</div>
				<div class="counter-numb"><em class="counter-facts">8471</em></div>
				<p>Lines Of Code</p>
			</div>
		</div>
		<div class="three columns">
			<div class="counter-wrap">
				<div class="icon-count">&#xf442;</div>
				<div class="counter-numb"><em class="counter-facts">35</em></div>
				<p>Awards Won</p>
			</div>
		</div>
	</div>
</div>