<div class="clear"></div>		
<div class="section padding-top-bottom-small black-background">
	<div class="container">	
		<div class="twelve columns">			
			<div class="like-our-proj">	
				<h5>Like Our Creative Work?</h5>
				<a href="contact">
					<span class="chaffle" data-lang="en">contact us</span>
				</a>
			</div>	
		</div>	
	</div>
</div>
<div class="section padding-top-bottom-small">	
	<div class="parallax-footer"></div>												
	<div class="container">		
		<div class="twelve columns wow bounceIn">			
			<div class="social-footer">
				<ul class="list-social">
					<li class="icon-soc tipped" data-title="codepen"  data-tipper-options='{"direction":"top","follow":"true"}'>
						<a href="#">&#xf1cb;</a>
					</li>
					<li class="icon-soc tipped" data-title="github"  data-tipper-options='{"direction":"top","follow":"true"}'>
						<a href="#">&#xf09b;</a>
					</li>
					<li class="icon-soc tipped" data-title="linkedin" data-tipper-options='{"direction":"top","follow":"true"}'>
						<a href="#">&#xf08c;</a>
					</li>
				</ul>	
			</div>
		</div>		
		<div class="twelve columns">
			<div class="footer-copy-text">
				<a href="https://angeal185.github.io" class="chaffle" data-lang="en">2016 ben eaves</a><br>
				<a href="https://angeal185.github.io" class="chaffle" data-lang="en">angeal185.github.io</a>
			</div>	
		</div>
	</div>
</div>
<div class="cd-folding-panel">
	<div class="fold-left"></div> 
	<div class="fold-right"></div>
	<div class="cd-fold-content">
	</div>
	<a class="cd-close" href="#0"></a>
</div>
<div class="scroll-to-top wow bounceIn" data-wow-delay="1s"></div>