<header class="cd-header">
	<div class="container">		
		<div class="twelve columns">	
			{#<div class="logo-wrap"><img src=""></div>#}
			<a class="cd-primary-nav-trigger" href="#0">
				<span class="cd-menu-text"></span><span class="cd-menu-icon"></span>
			</a>
		</div>	
	</div>	
</header>