<div class="clear"></div>
<div class="section padding-top-bottom grey-background">
	<div class="container">
		<div class="twelve columns" data-scroll-reveal="enter bottom move 100px over 0.4s after 0.2s">
			<div class="header-text main-pages">
				<p>our team</p>
				<h3>We are moving boundaries and carry out this attitude into digital solutions.</h3> </div>
		</div>
		<div class="four columns" data-scroll-reveal="enter bottom move 100px over 0.4s after 0.2s">
			<div class="team-box"><img src="/images/1.jpg" />
				<h6>Alex Andrews</h6>
				<p>founder</p>
				<div class="social-team">
					<ul class="list-social-team">
						<li class="icon-team tipped" data-title="twitter" data-tipper-options='{"direction":"top","follow":"true"}'> <a href="#">&#xf099;</a> </li>
						<li class="icon-team tipped" data-title="github" data-tipper-options='{"direction":"top","follow":"true"}'> <a href="#">&#xf09b;</a> </li>
						<li class="icon-team tipped" data-title="behance" data-tipper-options='{"direction":"top","follow":"true"}'> <a href="#">&#xf1b4;</a> </li>
					</ul>
				</div>
			</div>
		</div>
		<div class="four columns" data-scroll-reveal="enter bottom move 100px over 0.4s after 0.2s">
			<div class="team-box"><img src="/images/1.jpg" />
				<h6>Kara Kulis</h6>
				<p>art director</p>
				<div class="social-team">
					<ul class="list-social-team">
						<li class="icon-team tipped" data-title="github" data-tipper-options='{"direction":"top","follow":"true"}'> <a href="#">&#xf09b;</a> </li>
						<li class="icon-team tipped" data-title="google +" data-tipper-options='{"direction":"top","follow":"true"}'> <a href="#">&#xf0d5;</a> </li>
						<li class="icon-team tipped" data-title="dropbox" data-tipper-options='{"direction":"top","follow":"true"}'> <a href="#">&#xf16b;</a> </li>
					</ul>
				</div>
			</div>
		</div>
		<div class="four columns" data-scroll-reveal="enter bottom move 100px over 0.4s after 0.2s">
			<div class="team-box"><img src="/images/1.jpg" />
				<h6>Frank Furius</h6>
				<p>developer</p>
				<div class="social-team">
					<ul class="list-social-team">
						<li class="icon-team tipped" data-title="twitter" data-tipper-options='{"direction":"top","follow":"true"}'> <a href="#">&#xf099;</a> </li>
						<li class="icon-team tipped" data-title="github" data-tipper-options='{"direction":"top","follow":"true"}'> <a href="#">&#xf09b;</a> </li>
						<li class="icon-team tipped" data-title="behance" data-tipper-options='{"direction":"top","follow":"true"}'> <a href="#">&#xf1b4;</a> </li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>