<div class="clear"></div>
<div class="section padding-top-bottom">
	<div class="parallax-2"></div>
	<div class="container">
		<div class="twelve columns">
			<div class="customNavigation">
				<a class="prev-quote"></a>
				<a class="next-quote"></a>
			</div>
			<div class="quote-wrap-hart">
				<div class="icon">&#xf443;</div>
			</div>
			<div id="owl-quote" class="owl-carousel owl-theme">
				<div class="item">
					<p>" It is only after years of preparation that the young artist should touch color - not color used descriptively, that is, but as a means of personal expression. "
						<p>
							<h6>- Henri Matisse -</h6> </div>
				<div class="item">
					<p>" Design is a funny word. Some people think design means how it looks. But of course, if you dig deeper, it's really how it works. "</p>
					<h6>- Steve Jobs -</h6> </div>
				<div class="item">
					<p>" What is design? It's where you stand with a foot in two worlds - the world of technology and the world of people and human purposes - and you try to bring the two together. "</p>
					<h6>- Mitchell Kapor -</h6> </div>
			</div>
		</div>
	</div>
</div>