<div class="section fullwidth-height">
	<div class="parallax-about"></div>
	<div class="hero-top">
		<div class="container">
			<div class="twelve columns">
				<p>about us</p>
				<h2>OUR AMBITION IS<br>OUR WEAPONRY</h2> </div>
		</div>
	</div>
	<a href="#scroll-link" class="scroll">
		<div class="top-link-pages"></div>
	</a>
</div>
