<div class="clear"></div>
<div class="section padding-top-bottom-small" id="scroll-link">
	<div class="parallax-1"></div>
	<div class="container">
		<div class="twelve columns">
			<div class="action-wrap">
				<p>New Business?</p>
				<h6>How Can We Help You?</h6> </div>
		</div>
	</div>
</div>