<div class="section padding-top-bottom-small" id="scroll-link">
	<div class="parallax-1"></div>	
	<div class="container">			
		<div class="twelve columns">		
			<div class="action-wrap">
				<p>Stand Out & Stand For Something</p>
				<h4>Digital Solutions + Brand Innovation</h4>		
			</div>
		</div>	
	</div>
</div>
<div class="section padding-top white-background">
	<div class="container">			
		<div class="twelve columns">		
			<div class="header-text main-pages">
				<p>our work</p>
				<h3>We use strategy and design to connect brands and people through the things they love…</h3>		
			</div>
		</div>	
	</div>
</div>