<div class="clear"></div>
<ul class="cd-gallery">
	<li class="cd-item branding web">
		<a href="/project1">
			<div class="portfolio-box">
				<img src="/images/1.jpg" />
				<div class="mask"></div>
				<div class="line"></div>
				<p>Video, Art Direction</p>
				<h5>Paco de Lucía. Entre 20 Aguas</h5>	
			</div>
		</a>
	</li>
	<li class="cd-item photo">
		<a href="/project2">
			<div class="portfolio-box">
				<img src="/images/1.jpg" />
				<div class="mask"></div>
				<div class="line"></div>
				<p>Branding, Graphic Design</p>
				<h5>Cheburashkini Packaging</h5>
			</div>
		</a>
	</li>
	<li class="cd-item motion web">
		<a href="/project3">
			<div class="portfolio-box">
				<img src="/images/1.jpg" />
				<div class="mask"></div>
				<div class="line"></div>
				<p>Branding</p>
				<h5>Learn school</h5>
			</div>
		</a>
	</li>
	<li class="cd-item branding">
		<a href="/project4">
			<div class="portfolio-box">
				<img src="/images/1.jpg" />
				<div class="mask"></div>
				<div class="line"></div>
				<p>Art Direction, Graphic Design</p>
				<h5>Try Angle Paper</h5>
			</div>
		</a>
	</li>
	<li class="cd-item motion web">
		<a href="/project5">
			<div class="portfolio-box">
				<img src="/images/1.jpg" />
				<div class="mask"></div>
				<div class="line"></div>
				<p>Branding, Graphic Design</p>
				<h5>Wesley Mann</h5>
			</div>
		</a>
	</li>
	<li class="cd-item photo">
		<a href="/project6">
			<div class="portfolio-box">
				<img src="/images/1.jpg" />
				<div class="mask"></div>
				<div class="line"></div>
				<p>Branding, Graphic Design</p>
				<h5>KK Wind Solutions</h5>	
			</div>
		</a>
	</li>
	<li class="cd-item photo motion">
		<a href="/project7">
			<div class="portfolio-box">
				<img src="/images/1.jpg" />
				<div class="mask"></div>
				<div class="line"></div>
				<p>Branding Packaging</p>
				<h5>Mona Castellarnau</h5>	
			</div>
		</a>
	</li>
	<li class="cd-item photo motion">
		<a href="/project8">
			<div class="portfolio-box">
				<img src="/images/1.jpg" />
				<div class="mask"></div>
				<div class="line"></div>
				<p>Branding, Digital Art</p>
				<h5>Movest - Jewelry in motion</h5>
			</div>
		</a>
	</li>
</ul>