<div class="clear"></div>
<div class="section padding-top-bottom white-background">
	<div class="container">
		<div class="twelve columns" data-scroll-reveal="enter bottom move 100px over 0.4s after 0.2s">
			<div class="header-text main-pages">
				<p>services</p>
				<h3>We use cutting-edge tech and cutting-edge thinking to bring brands to life online.</h3> </div>
		</div>
		<div class="three columns" data-scroll-reveal="enter bottom move 100px over 0.4s after 0.2s">
			<div class="services-box">
				<div class="icon">&#xf4a7;</div>
				<h6>Listen</h6>
				<p>Praesent sed nisi eleifend, fermentum orci amet, iaculis ultricies purus.</p>
			</div>
		</div>
		<div class="three columns" data-scroll-reveal="enter bottom move 100px over 0.4s after 0.2s">
			<div class="services-box">
				<div class="icon">&#xf3cd;</div>
				<h6>Learn</h6>
				<p>Praesent sed nisi eleifend, fermentum orci amet, iaculis ultricies purus.</p>
			</div>
		</div>
		<div class="three columns" data-scroll-reveal="enter bottom move 100px over 0.4s after 0.2s">
			<div class="services-box">
				<div class="icon">&#xf451;</div>
				<h6>Innovate</h6>
				<p>Praesent sed nisi eleifend, fermentum orci amet, iaculis ultricies purus.</p>
			</div>
		</div>
		<div class="three columns" data-scroll-reveal="enter bottom move 100px over 0.4s after 0.2s">
			<div class="services-box">
				<div class="icon">&#xf4a5;</div>
				<h6>Networking</h6>
				<p>Praesent sed nisi eleifend, fermentum orci amet, iaculis ultricies purus.</p>
			</div>
		</div>
		<div class="clear"></div>
		<div class="three columns" data-scroll-reveal="enter bottom move 100px over 0.4s after 0.2s">
			<div class="services-box">
				<div class="icon">&#xf493;</div>
				<h6>Analytics</h6>
				<p>Praesent sed nisi eleifend, fermentum orci amet, iaculis ultricies purus.</p>
			</div>
		</div>
		<div class="three columns" data-scroll-reveal="enter bottom move 100px over 0.4s after 0.2s">
			<div class="services-box">
				<div class="icon">&#xf43c;</div>
				<h6>Development</h6>
				<p>Praesent sed nisi eleifend, fermentum orci amet, iaculis ultricies purus.</p>
			</div>
		</div>
		<div class="three columns" data-scroll-reveal="enter bottom move 100px over 0.4s after 0.2s">
			<div class="services-box">
				<div class="icon">&#xf409;</div>
				<h6>Cloud Hosting</h6>
				<p>Praesent sed nisi eleifend, fermentum orci amet, iaculis ultricies purus.</p>
			</div>
		</div>
		<div class="three columns" data-scroll-reveal="enter bottom move 100px over 0.4s after 0.2s">
			<div class="services-box">
				<div class="icon">&#xf3f9;</div>
				<h6>Friendly Support</h6>
				<p>Praesent sed nisi eleifend, fermentum orci amet, iaculis ultricies purus.</p>
			</div>
		</div>
	</div>
</div>