<div class="section full-height">
	<div class="white-over"></div>
	<div class="hero-top">
		<div class="container">			
			<div class="twelve columns">
				<p>welcome</p>	
				<h2>Great strategy build<br>great brands</h2>
				<a href="#scroll-link" class="scroll"><div class="link-top chaffle" data-lang="en">discover</div></a>
			</div>	
		</div>	
	</div>
	<div class="customNavigation">
		<a class="prev"></a>
		<a class="next"></a>
	</div>
	<div id="owl-top" class="owl-carousel owl-theme">
		<div class="item top-image-1">		
		</div>
		<div class="item top-image-2">		
		</div>
		<div class="item top-image-3"> 			
		</div>				 
	</div>
</div>