<div class="clear"></div>
<div class="section grey-background">
	<div class="cd-single-item">
		<div class="cd-slider-wrapper">
			<ul class="cd-slider">
				<li class="selected"><img src="/images/1.jpg" /></li>
				<li><img src="/images/1.jpg" /></li>
				<li><img src="/images/1.jpg" /></li>
			</ul>
			<ul class="cd-slider-navigation">
				<li><a href="#0" class="cd-prev inactive">Next</a></li>
				<li><a href="#0" class="cd-next">Prev</a></li>
			</ul>
				<a href="#0" class="cd-close">Close</a> </div>
		<div class="cd-item-info" data-scroll-reveal="enter bottom move 100px over 0.4s after 0.2s">
			<div class="header-text main-pages">
				<p>We are xxxxxx</p>
				<h4>We use strategy and design to connect brands and people…</h4> </div>
			<div class="small-text">Maecenas volutpat, diam enim sagittis quam, id porta quam. Sed id dolor consectetur fermentum volutpat nibh, accumsan purus. Lorem ipsum dolor sit semper amet, consectetur adipiscing elit.</div>
		</div>
	</div>
</div>