<div class="section full-height">
	<div class="poster_background_home"></div>
	<video id="video_background_home" preload="auto" autoplay muted loop="loop" poster="/images/trans.png"> 
		<source src="videos/video.webm" type="video/webm"> 
		<source src="videos/video.mp4" type="video/mp4"> 
		<source src="videos/video.ogg" type="video/ogg"> 
	</video>	
	<div class="white-over-video"></div>
	<div class="hero-top">
		<div class="container">			
			<div class="twelve columns">
				<p>welcome</p>	
				<h2>Great strategy build<br>great brands</h2>
				<a href="#scroll-link" class="scroll"><div class="link-top chaffle" data-lang="en">discover</div></a>
			</div>	
		</div>	
	</div>	
</div>
