{% extends 'layout.njk' %}
{% block content %}
<main class="cd-main">
{% include 'includes/_full-slider.njk' %}
{% include 'includes/_parallax-callout.njk' %}
{% include 'includes/_project-gallery.njk' %}
</main>
{% endblock %}
{% block scripts %}
<script src="/js/custom-home3.js"></script> 
{% endblock %}