{% extends 'layout.njk' %}
{% block content %}
<main class="cd-main">
{% include 'includes/_video-featured.njk' %}
{% include 'includes/_parallax-callout.njk' %}
{% include 'includes/_project-gallery.njk' %}
</main>
{% endblock %}
{% block scripts %}
<script src="/js/custom-home2.js"></script> 
{% endblock %}