{% extends 'layout.njk' %}
{% block content %}
<main class="cd-main">	
{% include 'includes/_parallax-featured.njk' %}
{% include 'includes/_parallax-callout.njk' %}
{% include 'includes/_project-gallery.njk' %}	
</main>
{% endblock %}
{% block scripts %}
<script src="/js/custom-home1.js"></script> 
{% endblock %}