<!doctype html>
<html lang="{{language}}">
<head>
{% include 'includes/_meta.njk' %}  
{% include 'includes/_styles.njk' %}
<link rel="stylesheet" href="/css/base.css">
<link rel="stylesheet" href="/css/skeleton.css">
<link rel="stylesheet" href="/css/layout.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
<link rel="stylesheet" href="/css/owl.transitions.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/alertify.js/0.5.0/alertify.default.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/alertify.js/0.5.0/alertify.core.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.1.0/css/hover-min.css">
{% block stylesheet %}{% endblock %}
{% block style %}{% endblock %} 
</head>
<body class="royal_loader">
{% include 'includes/_header.njk' %}
{% include 'includes/_nav.njk' %}
{% block header %}{% endblock %}
{% block intro %}{% endblock %}
{% block content %}{% endblock %}

{% block footer %}{% endblock %}
{% include 'includes/_footer.njk' %}

{% include 'includes/_scripts.njk' %}
{% block scripts %}{% endblock %}
<script>
$('body').get(alertify.log("{{title}}"));
$('.icon-soc, .icon-soc-nav ').addClass("hvr-pulse-grow");

</script>
</body>
</html>
