{% extends "layout.njk" %}
{% block content %}
<main class="cd-main">
{% include 'includes/_blog-parallax.njk' %}

<div class="clear"></div>
<div class="section padding-top-bottom white-background" id="scroll-link">					
	<div class="container">		
{% include 'includes/_blog-post.njk' %}
{% include 'includes/_blog-sidebar.njk' %}
	</div>
</div>
</main>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="/js/custom-post.js"></script>
{% endblock %}