{% extends 'layout.njk' %}
{% block content %}
<div class="cd-fold-content single-page">	
	<div class="container padding-top-bottom-small">		
		<div class="twelve columns">		
			<div class="header-text">
				<p>Branding</p>
				<h3>Learn school</h3>		
			</div>		
		</div>		
		<div class="six columns">		
			<div class="img-wrap">	
				<img src="/images/1.jpg" />
			</div>		
		</div>	
		<div class="six columns">		
			<div class="img-wrap">	
				<img src="/images/1.jpg" />
			</div>		
		</div>	
		<div class="twelve columns">		
			<div class="img-wrap">	
				<img src="/images/1.jpg" />
			</div>		
		</div>	
		<div class="six columns">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus tempora nostrum aut quam praesentium veritatis nisi, odio eius, voluptatibus, iure neque commodi corrupti, inventore laborum fugiat itaque. Pariatur rem veritatis earum quia maxime praesentium accusantium ipsam veniam tenetur hic tempora, unde ipsa esse, aut est repellendus porro, maiores corporis illo!</p>		
		</div>		
		<div class="six columns">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus tempora nostrum aut quam praesentium veritatis nisi, odio eius, voluptatibus, iure neque commodi corrupti, inventore laborum fugiat itaque. Pariatur rem veritatis earum quia maxime praesentium accusantium ipsam veniam tenetur hic tempora, unde ipsa esse, aut est repellendus porro, maiores corporis illo!</p>		
		</div>
		<div class="six columns">		
			<div class="img-wrap">	
				<img src="/images/1.jpg" />
			</div>		
		</div>	
		<div class="six columns">		
			<div class="img-wrap">	
				<img src="/images/1.jpg" />
			</div>		
		</div>	
		<div class="twelve columns">
			<div class="section-project-text">
				<p>Donec vel mi sem. Etiam in nulla arcu, ut vehicula velit. Vivamus dapibus rutrum mi ut aliquam. In hac habitasse platea dictumst. Integer sagittis neque a tortor tempor in porta sem vulputate. Donec varius felis fermentum nisl imperdiet at molestie purus porta.</p> 
				<a href="#" class="btn-projects">read more</a>
			</div>			
		</div>	
	</div>	
</div>
{% endblock %}